<!doctype html>

{% load static %}

<html lang="en">
  <head>
    <title>Create a Memo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <script src="{% static 'js/show_memo.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/search.js' %}" type="text/javascript"></script>
  </head>
  <body>
    <div class="row">
      <div class="col-6 offset-md-3">
        <hr>
        <center><h3>Memo Search</h3></center>
        <hr>
      </div>
    </div>

    <br><br>
    <div class="row">
      <div class="col-6 offset-md-3">
        <div class="bootstrap-iso">
          <form onsubmit="return search(this);">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" id="memo-with" name="memo_with" placeholder="Attendees"></input>
              </div>

              <div class="col">
                <input class="form-control" id="memo-date" name="memo_date" placeholder="Date" type="text"/>
              </div>

              <div class="col">
                <input type="text" class="form-control" id="memo-contains" name="memo_contains" placeholder="Contains"></input>
              </div>
            </div>

            <br>
            <div class="row">
              <div class="col">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="row" id="search-results">
    </div>

    <div class="modal fade" id="popup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
